header {
  background: #2F2235;
  height: 60px;
  width: 100%;
}

header h1 {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 300;
  margin: 0px 0px 0px 10px;
}

.party-text {
  color: #34D1D1;
}

.name-text {
  color: #FFFFFF;
}
